<h2>Les paramètre du compte </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>En attente de confirmation pour votre e-mail: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(Laisser vide si vous ne voulez pas le changer)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characteres minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(Nous avons besoin de votre mot de passe actuel pour confirmer vos modifications)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
    <div class="field">
      <%= f.label :genre %><br />
      <%= select_tag(:genre, options_for_select([['homme', 1], ['femme', 2]])) %>

    </div>

    <div class="field">
      <%= f.label :birthday %><br />
      <%= f.date_field :birthday, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :city %><br />
      <%= select_tag(:city, options_for_select([['Lisbon', 1], ['Madrid', 2]])) %>

    </div>
    <div class="field">
      <%= f.label :taille %><br />
      <%= f.number_field :taille %>

    </div>
    <div class="field">
      <%= f.label :poids %><br />
      <%= f.number_field :poids %>

    </div>

    <div class="field">
      <%= f.label :situation %><br />
      <%= f.text_area :situation, autofocus: true  %>

    </div>

    <div class="field">
      <%= f.label :annonce %><br />
      <%= f.text_area :annonce,autofocus: true  %>

    </div>


    <div class="actions">
    <%= f.submit "Mettre à jour" %>
  </div>
<% end %>

<h3>Supprimer votre compte</h3>

<p>Déçu par le site? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Vous etes sure?" }, method: :delete %></p>

<%= link_to "Retour en arrière", :back %>
