<div class="container">
  <h1 class="well" style="text-align: center">Créer un compte</h1>
<div class="col-lg-12 well">
  <div class="row">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">

              <%= f.text_field :username, autofocus: true, class: 'form-control', placeholder:'Pseudonyme' %>
            </div>

            <div class="col-sm-6 form-group">

              <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Votre E-mail' %>
            </div>

          </div>
        </div>

        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characteres minimum)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder:'Mot de passe' %>

            </div>

            <div class="col-sm-6 form-group">
              <em>(<%= @minimum_password_length %> characteres minimum)</em>
              <%= f.password_field :password_confirmation, autocomplete: "off" , class:'form-control', placeholder: 'Confirmation Mot de passe'%>


            </div>

          </div>
        </div>

        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <p>Votre Genre</p>

              <%= f.select(:genre, options_for_select([['Homme', 1], ['Femme', 2]]), {}, {class: "form-control"}) %>
            </div>

            <div class="col-sm-6 form-group">
              <p>Votre Date de naissance</p>
              <%= f.date_field :birthday, autofocus: true, class: 'form-control' %>

            </div>

          </div>
        </div>

        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <p>Votre Ville / pays</p>
              <%= f.select(:city, options_for_select([['Paris', 1], ['Strasbourg', 2]]), {}, {class: "form-control"}) %>

            </div>
            <p>Votre taille en CM</p>
            <div class="col-sm-6 form-group">
              <%= f.number_field :taille, class: 'form-control', placeholder:'ex: 175' %>

            </div>

          </div>
        </div>

        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <p>Votre poids en kg</p>
              <%= f.number_field :poids, class: 'form-control', placeholder:'ex: 70' %>

            </div>

            <div class="col-sm-6 form-group">

            </div>

          </div>
        </div>

        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <p>Couleur des Yeux </p>
              <%= f.select(:coleuryeux, options_for_select([['Noir', 1], ['Marron', 2], ['bleu', 3], ['vert', 4], ['noisette', 5]]), {}, {class: "form-control"}) %>

            </div>

            <div class="col-sm-6 form-group">
              <p>Couleur de cheveux </p>
              <%= f.select(:colcheveu, options_for_select([['Noir', 1], ['brun', 2], ['auburn', 3], ['châtain', 4], ['roux', 5], ['blond', 6], ['blanc', 7]]), {}, {class: "form-control"}) %>
            </div>


          </div>
        </div>

        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <p>Type de cheveux </p>
              <%= f.select(:longcheveux, options_for_select([['raides', 1], ['ondulés', 2], ['bouclés', 3], ['crépus', 4]]), {}, {class: "form-control"}) %>

            </div>

            <div class="col-sm-6 form-group">
              <p>longueur de cheveux </p>

              <%= f.select(:typecheveux, options_for_select([['court', 1], ['mi-long', 2], ['long', 3]]), {}, {class: "form-control"}) %>
            </div>

          </div>
        </div>


        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <p>Votre situation <b>(Décrivez au maximum)</b></p>
              <%= f.text_area :situation, autofocus: true, class: 'form-control'  %>
            </div>

            <div class="col-sm-6 form-group">
              <p>Votre annonce </p>
              <%= f.text_area :annonce, autofocus: true, class: 'form-control'  %>
            </div>

          </div>
        </div>


          <h1 class="well" style="text-align: center">Question de Personalité</h1>

        <!--Question du profil --------------------------------------->


        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <b>Question 1: </b> <br>
              <%= f.select(:q1, options_for_select([['Homme', 1], ['Femme', 2]]), {}, {class: "form-control"}) %>
            </div>

            <div class="col-sm-6 form-group">
              <b>Question 2: </b> <br>
              <%= f.select(:q2, options_for_select([['Homme', 1], ['Femme', 2]]), {}, {class: "form-control"}) %>
            </div>

          </div>
        </div>

        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <b>Question 3: </b> <br>
              <%= f.select(:q3, options_for_select([['Homme', 1], ['Femme', 2]]), {}, {class: "form-control"}) %>
            </div>

            <div class="col-sm-6 form-group">
              <b>Question 4: </b> <br>
              <%= f.select(:q4, options_for_select([['Homme', 1], ['Femme', 2]]), {}, {class: "form-control"}) %>
            </div>

          </div>
        </div>


        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <b>Question 5: </b> <br>
              <%= f.select(:q5, options_for_select([['Homme', 1], ['Femme', 2]]), {}, {class: "form-control"}) %>
            </div>

            <div class="col-sm-6 form-group">
              <b>Question 6: </b> <br>
              <%= f.select(:q6, options_for_select([['Homme', 1], ['Femme', 2]]), {}, {class: "form-control"}) %>
            </div>

          </div>
        </div>


        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <b>Question 7: </b> <br>
              <%= f.select(:q7, options_for_select([['Homme', 1], ['Femme', 2]]), {}, {class: "form-control"}) %>
            </div>

            <div class="col-sm-6 form-group">
              <b>Question 8: </b> <br>
              <%= f.select(:q8, options_for_select([['Homme', 1], ['Femme', 2]]), {}, {class: "form-control"}) %>
            </div>

          </div>
        </div>

        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <b>Question 9: </b> <br>
              <%= f.select(:q9, options_for_select([['Homme', 1], ['Femme', 2]]), {}, {class: "form-control"}) %>
            </div>

            <div class="col-sm-6 form-group">
              <b>Question 10: </b> <br>
              <%= f.select(:q10, options_for_select([['Homme', 1], ['Femme', 2]]), {}, {class: "form-control"}) %>
            </div>

          </div>
        </div>


        <div class="col-sm-6 form-group">
           <%= f.submit "Créer un compte", class: 'btn btn-primary' %>
        </div>
<% end %>
</div>
</div>
<div class="well">
  <%= render "devise/shared/links" %>
</div>

  <br>
