<div class="container">
  <h1 class="well" style="text-align: center">Créer un compte</h1>
<div class="col-lg-12 well">
  <div class="row">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">

              <%= f.text_field :username, autofocus: true, class: 'form-control', placeholder:'Pseudonyme' %>
            </div>

            <div class="col-sm-6 form-group">

              <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Votre E-mail' %>
            </div>

          </div>
        </div>

        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characteres minimum)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder:'Mot de passe' %>

            </div>

            <div class="col-sm-6 form-group">
              <em>(<%= @minimum_password_length %> characteres minimum)</em>
              <%= f.password_field :password_confirmation, autocomplete: "off" , class:'form-control', placeholder: 'Confirmation Mot de passe'%>


            </div>

          </div>
        </div>

        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <p>Votre Genre</p>

              <%= f.select(:genre, options_for_select([['Homme', 'homme'], ['Femme', 'femme']]), {}, {class: "form-control genre"}) %>
            </div>

            <div class="col-sm-6 form-group">
              <p>Votre Date de naissance</p>
              <%= f.date_field :birthday, autofocus: true, class: 'form-control' %>

            </div>

          </div>
        </div>

        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <p>Votre Ville / pays</p>
              <%= f.select(:city, options_for_select([['Alsace', 'Alsace'], ['Aquitaine', 'Aquitaine'],
                  ['Auvergne', 'Auvergne'], ['Basse-Normandie', 'Basse-Normandie'],['Bourgogne', 'Bourgogne'],
                  ['Bretagne', 'Bretagne'], ['Centre', 'Centre'],['Chapagne-Ardenne ', 'Chapagne-Ardenne'],
                  ['Franche-Compté', 'Franche-Compté'], ['Haute-Normandie', 'Haute-Normandie'],['Ile-de-france', 'Ile-de-france'],
                  ['Languedoc-Roussillon', 'Languedoc-Roussillon'], ['Limousin', 'Limousin'],['Lorraine', 'Lorraine'],
                  ['Midi-pyrénées', 'Midi-pyrénées'], ['Nord-Pas-de-Calais', 'Nord-Pas-de-Calais'],['Pays de la loire', 'Pays de la loire'],
                  ['Picardie', 'Picardie'], ['Poitou-Charentes', 'Poitou-Charentes'],['PACA', 'PACA'],
                  ['Rhône-Alpes', 'Rhône-Alpes'], ['Allemagne', 'Allemagne'],['Angleterre', 'Angleterre'],
                  ['Belgique', 'Belgique'], ['Canada', 'Canada'],['Espagne', 'Espagne'],
                  ['Hollande', 'Hollande'], ['Italie', 'Italie'],['Luxembourg', 'Luxembourg'],
                  ['Suisse', 'Suisse'], ['Algérie', 'Algérie'],['Maroc', 'Maroc'],['Tunisie', 'Tunisie']
                                                     ]), {}, {class: "form-control"}) %>

            </div>
            <p>Votre taille en CM</p>
            <div class="col-sm-6 form-group">
              <%= f.number_field :taille, class: 'form-control', placeholder:'ex: 175' %>

            </div>

          </div>
        </div>

        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <p>Votre poids en kg</p>
              <%= f.number_field :poids, class: 'form-control', placeholder:'ex: 70' %>

            </div>

            <div class="col-sm-6 form-group">

            </div>

          </div>
        </div>

        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <p>Couleur des Yeux </p>
              <%= f.select(:coleuryeux, options_for_select([['Noir', 'noir'], ['Marron', 'marron'], ['Bleu', 'bleu'], ['Vert', 'vert'], ['Noisette', 'noisette']]), {}, {class: "form-control"}) %>

            </div>

            <div class="col-sm-6 form-group">
              <p>Couleur de cheveux </p>
              <%= f.select(:colcheveu, options_for_select([['Noir', 'noir'], ['brun', 'brun'], ['auburn', 'aubrun'], ['châtain', 'chatain'], ['roux', 'roux'], ['blond', 'blond'], ['blanc', 'blanc']]), {}, {class: "form-control"}) %>
            </div>


          </div>
        </div>

        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <p>Type de cheveux </p>
              <%= f.select(:longcheveux, options_for_select([['raides', 'raides'], ['ondulés', 'ondules'], ['bouclés', 'bouclés'], ['crépus', 'crepus']]), {}, {class: "form-control"}) %>

            </div>

            <div class="col-sm-6 form-group">
              <p>longueur de cheveux </p>

              <%= f.select(:typecheveux, options_for_select([['court', 'court'], ['mi-long', 'milong'], ['long', 'long']]), {}, {class: "form-control"}) %>
            </div>

          </div>
        </div>


        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <p>Votre situation <b>(Décrivez au maximum)</b></p>
              <%= f.text_area :situation, autofocus: true, class: 'form-control'  %>
            </div>

            <div class="col-sm-6 form-group">
              <p>Votre annonce </p>
              <%= f.text_area :annonce, autofocus: true, class: 'form-control'  %>
            </div>

          </div>
        </div>


          <h1 class="well" style="text-align: center">Question de Personalité</h1>

        <!--Question du profil --------------------------------------->


        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <b>Question 1: Comment qualifieriez-vous vos rapports avec vos parents, avec vos proches</b> <br>
              <%= f.select(:q1, options_for_select([['Excellents', 'excellents'], ['respectueux sans plus', 'respectueux respectueux sans plus'],['pas bon', 'pas bon'], ['rompus contre ma volenté (déces,éloignement, conflit ou autres)', 'rompus contre ma volenté (déces,éloignement, conflit ou autres)']]), {}, {class: "form-control"}) %>
            </div>

            <div class="col-sm-6 form-group">
              <b>Question 2: Comment qualifieriez-vous votre pratique religieuse ?</b> <br><br>
              <%= f.select(:q2, options_for_select([['Tres régulière ', 'tres régulière '], ['moyenne', 'moyenne'], ['faible à améliorer d’en devenir', 'faible à améliorer d’en devenir']]), {}, {class: "form-control"}) %>
            </div>

          </div>
        </div>

        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <b>Question 3: Comment qualifieriez-vous votre sitaution financière ? </b> <br>
              <%= f.select(:q3, options_for_select([['Excellente et aisée', 'Excellente et aisée'], ['normale', 'normale'],  ['moyenne mais confortable', 'moyenne mais confortable'], ['difficile', 'difficile']]), {}, {class: "form-control"}) %>
            </div>

            <div class="col-sm-6 form-group">
              <b>Question 4: de quelle origine paternelle etes-vous ? </b> <br>
              <%= f.select(:q4, options_for_select([['Arabe moyen-orient', 'arabe et moyen orient'], ['maghrebine', 'maghrebine'],  ['africaine', 'africaine'], ['antillaise', 'antillaise'], ['européenne', 'européenne'], ['autres', 'autres']]), {}, {class: "form-control"}) %>
            </div>

          </div>
        </div>


        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <b>Question 5: quelle est votre situation matrimoniale? </b> <br><br>
              <%= f.select(:q5, options_for_select([['célibataire jamais marié', 'célibataire jamais marié'], ['divorcé sans enfants', 'divorcé sans enfants'], ['divorcé avec enfant', 'divorcé avec enfant'], ['marié', 'marié']]), {}, {class: "form-control"}) %>
            </div>

            <div class="col-sm-6 form-group" id="pourHomme">
              <b>Question 6: Comment qualifiriez vous votre aspect physiques ? (Pour les hommes uniquesments) </b> <br>
              <%= f.select(:q6, options_for_select([['Tres athletique', 'tres athletique'], ['sportif', 'sportif'], ['moyen', 'moyen'], ['négligé mais peu mieux faire', 'négligé mais peu mieux faire']]), {}, {class: "form-control"}) %>
            </div>

          </div>
        </div>


        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group" id="pourFemme">
              <b>Question 7: comment qualifiriez vous votre aspect physiques ? (pour les femmes uniquement) </b> <br>
              <%= f.select(:q7, options_for_select([['Jolie et attirante', 'Jolie et attirante'], ['jolie sans plus', 'jolie sans plus'], ['belle dans l\'âme', 'belle dans l\'âme'], ['belle pour lui', 'belle pour lui']]), {}, {class: "form-control"}) %>
            </div>

            <div class="col-sm-6 form-group">
              <b>Question 8: Comment qualifiriez vous votre vos connaissances en islam ? </b> <br><br>
              <%= f.select(:q8, options_for_select([['Excellentes en progrés constants', 'Excellentes en progrés constants'], ['bonnes sans plus', 'bonnes sans plus'], ['pas assez bonnes', 'pas assez bonnes'], ['en devenir', 'en devenir']]), {}, {class: "form-control"}) %>
            </div>

          </div>
        </div>
        <script !src="">

            $(document).ready(function () {
                $('div#pourHomme').show();
                $('div#pourFemme').hide();


                $('#user_genre').on('change',
                    function(){
                        if ($('#user_genre').find('option:selected').val() !== "homme")
                        {

                            $('div#pourHomme').hide();
                            $('div#pourFemme').show();
                        }else{
                            $('div#pourHomme').show();
                            $('div#pourFemme').hide();
                        }

                    });
            });
        </script>



        <div class="col-sm-6 form-group">
           <%= f.submit "Créer un compte", class: 'btn btn-primary' %>
        </div>
<% end %>
</div>
</div>
<div class="well">
  <%= render "devise/shared/links" %>
</div>

  <br>
