<%= search_form_for @q do |f| %>
    <div class="row">
      <!-- formualaire de recherche -->
      <div class="col-md-6 ">
       <div class="well"><h3 style="text-align: center;">Formulaire de recherche</h3></div>

        <div id="filter-panel" class="filter-panel collapse in" style="height: auto;">
          <div class="panel panel-default">
            <div class="panel-body">
              <form class="form-inline" role="form">
                <div class="form-group">
                  <label class="filter-col" style="margin-right:0;" for="pref-perpage">Pseudonyme</label>
                  <%= f.search_field :username_cont, class: 'form-control' %>
                </div>

                <div class="form-group">
                  <label class="filter-col" style="margin-right:0;" for="pref-perpage">Genre</label>
                  <%= f.select :genre_cont,  options_for_select([['Homme', 'homme'],['Femme', 'femme']]),{}, {class: "form-control"} %>
                </div>

                <div class="form-group">
                  <label class="filter-col" style="margin-right:0;" for="pref-perpage">Lieux</label>
                  <%= f.select(:city_cont, options_for_select([['Peu importe', ''],['Alsace', 'Alsace'], ['Aquitaine', 'Aquitaine'],
                                                               ['Auvergne', 'Auvergne'], ['Basse-Normandie', 'Basse-Normandie'],['Bourgogne', 'Bourgogne'],
                                                               ['Bretagne', 'Bretagne'], ['Centre', 'Centre'],['Chapagne-Ardenne ', 'Chapagne-Ardenne'],
                                                               ['Franche-Compté', 'Franche-Compté'], ['Haute-Normandie', 'Haute-Normandie'],['Ile-de-france', 'Ile-de-france'],
                                                               ['Languedoc-Roussillon', 'Languedoc-Roussillon'], ['Limousin', 'Limousin'],['Lorraine', 'Lorraine'],
                                                               ['Midi-pyrénées', 'Midi-pyrénées'], ['Nord-Pas-de-Calais', 'Nord-Pas-de-Calais'],['Pays de la loire', 'Pays de la loire'],
                                                               ['Picardie', 'Picardie'], ['Poitou-Charentes', 'Poitou-Charentes'],['PACA', 'PACA'],
                                                               ['Rhône-Alpes', 'Rhône-Alpes'], ['Allemagne', 'Allemagne'],['Angleterre', 'Angleterre'],
                                                               ['Belgique', 'Belgique'], ['Canada', 'Canada'],['Espagne', 'Espagne'],
                                                               ['Hollande', 'Hollande'], ['Italie', 'Italie'],['Luxembourg', 'Luxembourg'],
                                                               ['Suisse', 'Suisse'], ['Algérie', 'Algérie'],['Maroc', 'Maroc'],['Tunisie', 'Tunisie']
                                                              ]), {}, {class: "form-control"}) %>

                </div>
                <div class="form-group">
                  <div class="col-md-6">
                    <label class="filter-col" style="margin-right:0;" for="pref-perpage">Age Minimum</label>
                    <%= f.select :birthday_gteq, (18..99).to_a,{:selected => 18}, {class: "form-control"} %>


                  </div>
                  <div class="col-md-6">
                    <label class="filter-col" style="margin-right:0;" for="pref-perpage">Age Maximum</label>
                    <%= f.select :birthday_lteq, (18..99).to_a,{:selected => 75}, {class: "form-control"} %>
                  </div>

                </div>

                <div class="form-group">
                  <div class="col-md-6">
                    <label class="filter-col" style="margin-right:0;" for="pref-perpage">Taille Minimum (en cm)</label>
                    <%= f.select :taille_gteq, (100..220).to_a,{}, {class: "form-control"} %>



                  </div>
                  <div class="col-md-6">
                    <label class="filter-col" style="margin-right:0;" for="pref-perpage">Taille Maximum (en cm)</label>
                    <%= f.select :taille_lteq, (100..220).to_a,{:selected => 190}, {class: "form-control"} %>
                  </div>

                </div>

                <div class="form-group">
                  <div class="col-md-6">
                    <label class="filter-col" style="margin-right:0;" for="pref-perpage">Poids Minimum </label>
                    <%= f.select :poids_gteq, (40..120).to_a,{}, {class: "form-control"} %>




                  </div>
                  <div class="col-md-6">
                    <label class="filter-col" style="margin-right:0;" for="pref-perpage">Poids Maximum </label>
                    <%= f.select :poids_lteq, (40..120).to_a,{:selected => 90}, {class: "form-control"} %>
                  </div>

                </div>

                <br><br>

                  <%= f.submit "Chercher", class:' btn btn-default glyphicon glyphicon-record' %>


                </div>
              </form>
            </div>
          </div>
        </div>


      <!-- resultat de recherche -->
      <div class="row col-md-6 c custyle">
        <div class="well"><h3 style="text-align: center">Resultat de recherche</h3></div>

        <table class="table table-striped custab">
          <thead>

          <tr>
            <th>Psuedo</th>
            <th>Age</th>
            <th>Lieu</th>
            <th>Extrait de l'annonce</th>
          </tr>
          </thead>

          <% @people.each do |u| %>
              <tr>


                  <td><a href="<%= user_path(u) %>"><%= u.username %></a></td>
                  <td><%= u.birthday %></td>
                  <td><%= u.city %></td>
                  <td><%= u.annonce %></td>



              </tr>



          <% end %>



        </table>
      </div>






      </div>
    </div>








<% end %>


