<div class="mainbody container-fluid">
  <div class="row">

    <div style="padding-top:50px;"> </div>
    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div align="center">
              <% if @user.genre == 'homme' %>
              <img class="thumbnail img-responsive" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="300px" height="300px">
              <% else %>
              <img class="thumbnail img-responsive" src="http://www.fancyicons.com/download/?id=3209&t=png&s=256" width="300px" height="300px">
              <% end %>


            </div>
            <div class="media-body">
              <hr>
              <h3><strong>Situation</strong></h3>
              <p>
               <%= @user.situation  %>
              </p>
              <hr>
              <h3><strong>Annonce</strong></h3>
              <p><%= @user.annonce  %></p>
              <hr>
              <h3><strong>Trait  physique</strong></h3>
              <b>Cheveux</b>
              <p>Coleur : <%= @user.colcheveu %></p>
              <p>Longueur : <%= @user.longcheveux %></p>
              <p>Type : <%= @user.typecheveux %></p>
              <b>Les yeux</b>
              <p>Coleur: <%= @user.coleuryeux %> </p>
              <hr>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
                    <span>
                      <h1 class="panel-title pull-left" style="font-size:30px;"><%= @user.username %> <small></small> <% if @user.genre == 'homme' %> <i class="fa fa-user" ></i> <% else %> <i class="fa fa-female" aria-hidden="true" ></i><% end %></h1>
                        <div class="dropdown pull-right">
                            <button class="btn btn-success " type="button"  >
                                Demander

                            </button>

                        </div>
                    </span>
          <br><br>

          <br><br><hr>
          <span class="pull-left">
                        <a href="" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-home" aria-hidden="true"></i> Ville: <%= @user.city %></a>
                        <a href="" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-calendar" aria-hidden="true"></i> Age:  <%=  @user.birthday %> ans</span></a>

                        <a href="" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-arrows-v" aria-hidden="true"></i> Taille:  <%= @user.taille %> cm</a>
                        <a href="" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-street-view" aria-hidden="true"></i> Poids:  <%= @user.poids %> kg</span></a>

          </span>

        </div>
      </div>
      <hr>
      <!-- Simple post content example. -->
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="pull-left">

          </div>
          <h4><a href="#" style="text-decoration:none;">Comment qualifieriez-vous vos rapports avec vos parents, avec vos proches ?</a>  <small><small><a href="#" style="text-decoration:none; color:grey;"><i></a></small></small></h4>
          <span>
                        <div class="navbar-right">

                        </div>
                    </span>
          <hr>
          <div class="post-content">
            <p><strong><%= @user.q1 %></strong></p>

          </div>

        </div>
      </div>
      <hr>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="pull-left">

          </div>
          <h4><a href="#" style="text-decoration:none;">Comment qualifieriez-vous votre pratique religieuse ?</a>  <small><small><a href="#" style="text-decoration:none; color:grey;"><i></a></small></small></h4>
          <span>
                        <div class="navbar-right">

                        </div>
                    </span>
          <hr>
          <div class="post-content">
            <p><strong><%= @user.q2 %></strong></p>

          </div>

        </div>
      </div>
      <hr>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="pull-left">

          </div>
          <h4><a href="#" style="text-decoration:none;">Comment qualifieriez-vous votre sitaution financière ?</a>  <small><small><a href="#" style="text-decoration:none; color:grey;"><i></a></small></small></h4>
          <span>
                        <div class="navbar-right">

                        </div>
                    </span>
          <hr>
          <div class="post-content">
            <p><strong><%= @user.q3 %></strong></p>

          </div>

        </div>
      </div>
      <hr>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="pull-left">

          </div>
          <h4><a href="#" style="text-decoration:none;">de quelle origine paternelle etes-vous ?</a>  <small><small><a href="#" style="text-decoration:none; color:grey;"><i></a></small></small></h4>
          <span>
                        <div class="navbar-right">

                        </div>
                    </span>
          <hr>
          <div class="post-content">
            <p><strong><%= @user.q4 %></strong></p>

          </div>

        </div>
      </div>
      <hr>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="pull-left">

          </div>
          <h4><a href="#" style="text-decoration:none;">quelle est votre situation matrimoniale</a>  <small><small><a href="#" style="text-decoration:none; color:grey;"><i></a></small></small></h4>
          <span>
                        <div class="navbar-right">

                        </div>
                    </span>
          <hr>
          <div class="post-content">
            <p><strong><%= @user.q5 %></strong></p>

          </div>

        </div>
      </div>
      <hr>
        <% if @user.genre == 'homme' %>
          <!-- POUR LES HOMMES -->
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="pull-left">

              </div>
              <h4><a href="#" style="text-decoration:none;">Comment qualifiriez vous votre aspect physiques ?</a>  <small><small><a href="#" style="text-decoration:none; color:grey;"><i></a></small></small></h4>
              <span>
                            <div class="navbar-right">

                            </div>
                        </span>
              <hr>
              <div class="post-content">
                <p><strong><%= @user.q6 %></strong></p>

              </div>

            </div>
          </div>
          <hr>
        <% else %>
          <!-- POUR LES FEMMES -->
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="pull-left">

              </div>
              <h4><a href="#" style="text-decoration:none;">comment qualifiriez vous votre aspect physiques ?</a>  <small><small><a href="#" style="text-decoration:none; color:grey;"><i></a></small></small></h4>
              <span>
                            <div class="navbar-right">

                            </div>
                        </span>
              <hr>
              <div class="post-content">
                <p><strong><%= @user.q7 %></strong></p>

              </div>

            </div>
          </div>
         <hr>
        <% end %>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="pull-left">

          </div>
          <h4><a href="#" style="text-decoration:none;">,Comment qualifiriez vous votre vos connaissances en islam ?</a>  <small><small><a href="#" style="text-decoration:none; color:grey;"><i></a></small></small></h4>
          <span>
                        <div class="navbar-right">

                        </div>
                    </span>
          <hr>
          <div class="post-content">
            <p><strong><%= @user.q8 %></strong></p>

          </div>

        </div>
      </div>
      <hr>




    </div>
  </div>
</div>


<p></p>



