<section class="wrapper">
  <div class="row">
    <!-- profile-widget -->
    <div class="col-lg-8 col-lg-offset-2">
      <div class="profile-widget profile-widget-info">
        <div class="panel-body" style="background: #2ecc71;">
          <div class="col-lg-2 col-sm-2">
            <h4><%= @user.username %></h4>

            <div class="follow-ava">
              <% if @user.genre == 'femme' %>
              <img src="http://www.fancyicons.com/download/?id=3209&t=png&s=256" alt="">

             <% else %>
                  <%= image_tag @user.image.thumb %>
            <% end %>


            </div>
            <h6><%= @user.genre %></h6>

          </div>
          <div class="col-lg-4 col-sm-4 follow-info">
            <p></p>
            <span class="fa fa-home"> <%= @user.city %></span>  <span class="fa fa-calendar"> <%= @user.birthday  %> ans</span>  <span class="fa fa-arrows-v"> Taille<%= @user.taille %> cm</span>  <span class="fa fa-street-view"> Poids: <%= @user.poids %> kg</span>
            <span class="fa fa-street-view"> Dernier passage: <%= time_ago_in_words(@user.last_sign_in_at) %> </span>
            <h6>

            </h6>
          </div>
          <div class="col-lg-6 col-sm-6 follow-info weather-category">
            <ul>


              <li>
                <% if current_user && current_user.id != @user.id %>
                 <i class="icon_plus_alt2"></i>  <%= action_buttons(@user) %>
                <% end %>

              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--- le suivis des demandes -->
  <% if user_signed_in? && @user.id == current_user.id %>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <section class="panel">
            <header class="panel-heading tab-bg-info">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a data-toggle="tab" href="#relation">
                    <i class="icon-user"></i>
                    les mises en relations
                  </a>
                </li>
                <li>
                  <a data-toggle="tab" href="#envoye">
                    <i class="icon-home"></i>
                    les demandes reçues
                  </a>
                </li>

                <li class="">
                  <a data-toggle="tab" href="#en-attente">
                    <i class="icon-envelope"></i>
                   Les demandes en attente
                  </a>
                </li>

              </ul>
            </header>
            <div class="panel-body">
              <div class="tab-content">

                <!-- profile -->
                <div id="relation" class="tab-pane active">
                  <section class="panel">



                    <div class="panel-body bio-graph-info">

                      <div class="row">

                        <div class="bio-row">
                          <% @user.active_friends.each do |rela| %>
                          <h4 ><a href="/users/<%= rela.id %>"><%= rela.username %></a>
                              <% if rela.genre == 'femme' %>
                                <span>  numero du mahram : <%= rela.mahram %></span>
                              <% end %>
                          </h4>
                          <% end %>


                        </div>


                      </div>
                    </div>
                  </section>
                  <section>
                    <div class="row">
                    </div>
                  </section>
                </div>

                <div id="envoye" class="tab-pane ">
                  <section class="panel">



                    <div class="panel-body bio-graph-info">

                      <div class="row">

                        <div class="bio-row">
                          <% @user.pending_friend_requests_from.map(&:user).each do |rela| %>
                              <h4 ><a href="/users/<%= rela.id %>"><%= rela.username %></a></h4>
                          <% end %>

                        </div>


                      </div>
                    </div>
                  </section>
                  <section>
                    <div class="row">
                    </div>
                  </section>
                </div>
                <div id="en-attente" class="tab-pane ">
                  <section class="panel">



                    <div class="panel-body bio-graph-info">

                      <div class="row">

                        <div class="bio-row">
                          <% @user.pending_friend_requests_to.map(&:friend).each do |rela| %>
                              <h4 ><a href="/users/<%= rela.id %>"><%= rela.username %></a></h4>
                          <% end %>

                        </div>


                      </div>
                    </div>
                  </section>
                  <section>
                    <div class="row">
                    </div>
                  </section>
                </div>





              </div>
            </div>
          </section>
        </div>
      </div>
  <% end %>
      <!--- fin suivis des demandes -->
  <!-- profil debut-->
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <section class="panel">
        <header class="panel-heading tab-bg-info">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#profile">
                <i class="icon-user"></i>
                Profil
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#recent-activity">
                <i class="icon-home"></i>
                Personnalité
              </a>
            </li>
          <% if @user.genre == 'homme' %>
            <li class="">
              <a data-toggle="tab" href="#edit-profile">
                <i class="icon-envelope"></i>
                Voir les photos
              </a>
            </li>
          <% end %>
          </ul>
        </header>
        <div class="panel-body">
          <div class="tab-content">
            <div id="recent-activity" class="tab-pane">
              <div class="profile-activity">
                <div class="act-time">
                  <div class="activity-body act-in">
                    <span class="arrow"></span>
                    <div class="text">
                      <a href="#" class="activity-img"></a>
                      <p class="attribution"><a href="#">Comment qualifieriez-vous vos rapports avec vos parents, avec vos proches ?
                      </a></p>
                      <p><%= @user.q1 %></p>
                    </div>
                  </div>
                </div>
                <div class="act-time">
                  <div class="activity-body act-in">
                    <span class="arrow"></span>
                    <div class="text">
                      <a href="#" class="activity-img"></a>
                      <p class="attribution"><a href="#">Comment qualifieriez-vous votre pratique religieuse ?
                      </a></p>
                      <p><%= @user.q2 %></p>
                    </div>
                  </div>
                </div>
                <div class="act-time">
                  <div class="activity-body act-in">
                    <span class="arrow"></span>
                    <div class="text">
                      <a href="#" class="activity-img"></a>
                      <p class="attribution"><a href="#">Comment qualifieriez-vous votre situation financière ?
                      </a></p>
                      <p><%= @user.q3 %></p>
                    </div>
                  </div>
                </div>
                <div class="act-time">
                  <div class="activity-body act-in">
                    <span class="arrow"></span>
                    <div class="text">
                      <a href="#" class="activity-img"></a>
                      <p class="attribution"><a href="#">de quelle origine paternelle etes-vous ?
                      </a></p>
                      <p><%= @user.q4 %></p>
                    </div>
                  </div>
                </div>
                <div class="act-time">
                  <div class="activity-body act-in">
                    <span class="arrow"></span>
                    <div class="text">
                      <a href="#" class="activity-img"></a>
                      <p class="attribution"><a href="#">quelle est votre situation matrimoniale


                      </a></p>
                      <p><%= @user.q5 %></p>
                    </div>
                  </div>
                </div>
                <% if @user.genre == 'homme' %>
                    <div class="act-time">
                  <div class="activity-body act-in">
                    <span class="arrow"></span>
                    <div class="text">
                      <a href="#" class="activity-img"></a>
                      <p class="attribution"><a href="#">Comment qualifiriez vous votre aspect physiques ?


                      </a></p>
                      <p><%= @user.q6 %></p>
                    </div>
                  </div>
                </div>
                <% else %>

                <div class="act-time"> <!-- 7 -->
                  <div class="activity-body act-in">
                    <span class="arrow"></span>
                    <div class="text">
                      <a href="#" class="activity-img"></a>
                      <p class="attribution"><a href="#">Comment qualifiriez vous votre aspect physiques ?
                      </a></p>
                      <p><%= @user.q7 %></p>
                    </div>
                  </div>
                </div>
                <% end %>
                <div class="act-time">
                  <div class="activity-body act-in">
                    <span class="arrow"></span>
                    <div class="text">
                      <a href="#" class="activity-img"></a>
                      <p class="attribution"><a href="#">,Comment qualifiriez vous votre vos connaissances en islam ?
                      </a></p>
                      <p><%= @user.q8 %></p>
                    </div>
                  </div>
                </div>










              </div>
            </div>
            <!-- profile -->
            <div id="profile" class="tab-pane active">
              <section class="panel">
                <h4 style="text-align: center;font-weight: 900;">Annonce: </h4>
                <div class="bio-graph-heading">

                 <p style=""><b><%= @user.annonce %></b></p>
                </div>

                <h4 style="text-align: center;font-weight: 900;">Situation: </h4>
                <div class="bio-graph-heading">
                  <p style=""><b><%= @user.situation %></b></p>

                </div>
                <div class="panel-body bio-graph-info">
                  <h1>Informations</h1>
                  <div class="row">
                    <div class="bio-row">
                      <p><span>Pseudonyme:  </span>: <%= @user.username %></p>
                    </div>
                    <div class="bio-row">
                      <p><span>Age </span>:  <%= @user.birthday %> ans</p>
                    </div>
                    <div class="bio-row">
                      <p><span>Ville </span>:  <%= @user.city %></p>
                    </div>
                    <div class="bio-row">
                      <p><span>Taille </span>:  <%= @user.taille %> cm</p>
                    </div>
                    <div class="bio-row">
                      <p><span>Poids </span>:  <%= @user.poids %> kg</p>
                    </div>
                    <div class="bio-row">
                      <p><span>Yeux </span>:  <%= @user.coleuryeux %></p>
                    </div>
                    <div class="bio-row">
                      <p><span>Cheveux </span>:  <%= @user.colcheveu %> / <%= @user.typecheveux %> / <%= @user.longcheveux %></p>
                    </div>
                    <div class="bio-row">
                      <p><span></span></p>
                    </div>
                  </div>
                </div>
              </section>
              <section>
                <div class="row">
                </div>
              </section>
            </div>
            <!-- edit-profile -->
            <div id="edit-profile" class="tab-pane">

              <div class="row">
                <div class="bio-row">
                  <p>les photos</p>
                  <% if  @user.album != nil%>
                    <%=  image_tag @user.album.thumb %>
                  <% end %>
                  <% if  @user.album2 != nil%>
                      <%=  image_tag @user.album2.thumb %>
                  <% end %>
                  <% if  @user.album3 != nil%>
                      <%=  image_tag @user.album3.thumb %>
                  <% end %>
                  <% if  @user.album4 != nil%>
                      <%=  image_tag @user.album4.thumb %>
                  <% end %>
                  <% if  @user.album5 != nil%>
                      <%=  image_tag @user.album5.thumb %>
                  <% end %>




                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <!-- profil fin-->
</section>
























