<div class="col-md-12" style="background: #2ecc71;margin-top: -20px;">
  <div class="row" style="margin-top: -41px;">
    <br><br>
    <div class="panel panel-default" style="margin-top: -20px">
    <h1 style="text-align: center; font-weight: 800;">Bienvenue sur Bimahram.com</h1>
    </div>

 </div>
  <div class="row" style="margin-top: -36px;margin-top: -35px;">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          Nous avons créer <b>Bimahram.COM</b> avec comme atout exceptionnel <b>la mise en relation téléphonique
          entre le frère et le tuteur légale de la soeur apres accéptation mutuelle des deux
          profils</b>, ceci pour répondre aux exigences et aux demandes croissantes, celles de ne pas
           enfreindre les limites fixées par <b>ALLAH jella wa 'ala</b> concernant le
          "Mahram" dans le mariage.
          <span> <b><a href="/pages/inscription">Inscrivez-vous</a></b></span> dès maintenant... "Une femme mérite un homme qui l'aime et qui la respecte vraiment et un homme mérite une femme qui l'aime et qui apprécie vraiment ses efforts..."

        </p>
        <p>

        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default" style="margin-top: -15px;margin-bottom: 3px;">
    <h3 style="text-align: center;font-weight: 800;margin: 0px">Les derniers inscrits </h3>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-sm-6" class="font-size:8px;">
          <ul>
          <% User.order(id: :asc).limit(5).where(genre: 'femme').each do |d| %>
             <li class="font-size: 12px;"><a href="/users/<%= d.id %>"><%= d.username %></a>, <%= d.birthday %>, <%= d.city %>  </li>
          <% end %>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul>
            <% User.order(id: :asc).limit(5).where(genre: 'homme').each do |d| %>
                <li><a href="/users/<%= d.id %>"><%= d.username %></a>, <%= d.birthday %>, <%= d.city %>  </li>
            <% end %>
          </ul>

        </div>

      </div>
    </div>
  </div>

  <div class="panel panel-default" style="margin-top: -15px;margin-bottom: 3px;">
    <h3 style="text-align: center;font-weight: 800;margin: 0px">Les utilisateurs en ligne </h3>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-sm-6">
          <ul>

            <% User.order(id: :asc).limit(5).where(genre: 'femme').each do |d| %>
                <% if d.current_sign_in_at.to_i > d.last_sign_out_at.to_i %>
                    <li><a href="/users/<%= d.id %>"><%= d.username %></a>, <%= d.birthday %>, <%= d.city %>  </li>
                <% end%>

            <% end %>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul>
            <% User.order(id: :asc).limit(5).where(genre: 'homme').each do |d| %>
                <% if d.current_sign_in_at.to_i > d.last_sign_out_at.to_i %>
                    <li><a href="/users/<%= d.id %>"><%= d.username %></a>, <%= d.birthday %>, <%= d.city %>  </li>
                <% end%>
            <% end %>
          </ul>

        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-default" style="margin-top: -15px;margin-bottom: 3px;">
      <div class="panel-body">
          <p>Le prophète bien-aimé à dit  :
            <b>"Et prenez garde au mensonge car le mensonge mène à la perversion et la perversion mène en enfer..."</b>
            hadith rapporté par al boukhari et mouslim.</p>
      </div>
    </div>
  </div>






</div>









