<div class="col-md-12" style="background: #2ecc71;margin-top: -20px;">
  <div class="row" style="margin-top: -41px;">
    <br><br>
    <div class="panel panel-default" style="margin-top: -20px">
    <h1 style="text-align: center; font-weight: 800;font-family: 'Indie Flower', cursive;">Bienvenue sur Bimahram.com</h1>
    </div>

 </div>
  <div class="row" style="margin-top: -36px;margin-top: -35px;">
    <div class="panel panel-default">
      <div class="panel-body">
        <p style="font-family: 'Ubuntu Condensed', sans-serif;">
          Sur <b style="color:#337AB7">Bimahram.com</b> pas de perte de temps, pas de bavardages, c'est simple,
          c'est sérieux, c'est idéal pour ceux et celles qui veulent vraiment trouver l'âme soeur.

          <b style="color:#337AB7">Bimahram.com</b>  a comme atout exceptionnel <b style="color:#337AB7">la mise en relation téléphonique confidentielle et directe entre le frère et le tuteur légal de la soeur, après acceptation
          mutuelle des deux profils.</b>. Il y a des limites fixées par ALLAH sobhanahou wa ta'ala dans les règles du mariage,
          notamment celles du Mahram. Alors <b><a href="/pages/inscription" style="color:#2ecc71">Inscrivez-vous dès maintenant.</a></b>

        <p>
          <b>D'après Anas (qu'ALLAH l'agrée), le Prophète (que la prière d'ALLAH et Son salut soient sur lui) a dit: « Lorsque le serviteur se marie, il a certes complété la moitié de sa religion alors qu'il craigne ALLAH pour l'autre moitié ».</b>
          <br> <span>(Rapporté par Tabarani et authentifié par Cheikh Albani dans Sahih Targhib n°1916)</span>
        </p>



        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default" style="margin-top: -15px;margin-bottom: 3px;">
    <h3 style="text-align: center;font-weight: 800;margin: 0px">Les derniers inscrits </h3>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-sm-6" class="font-size:8px;">
          <ul>
          <% User.order(id: :asc).limit(5).where(genre: 'femme').each do |d| %>
             <li class="font-size: 12px;"><a href="/users/<%= d.id %>"><%= d.username %></a>, <%= d.birthday %>, <%= d.city %>  </li>
          <% end %>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul>
            <% User.order(id: :asc).limit(5).where(genre: 'homme').each do |d| %>
                <li><a href="/users/<%= d.id %>"><%= d.username %></a>, <%= d.birthday %>, <%= d.city %>  </li>
            <% end %>
          </ul>

        </div>

      </div>
    </div>
  </div>

  <div class="panel panel-default" style="margin-top: -15px;margin-bottom: 3px;">
    <h3 style="text-align: center;font-weight: 800;margin: 0px">Les utilisateurs en ligne </h3>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-sm-6">
          <ul>

            <% User.order(id: :asc).limit(5).where(genre: 'femme').each do |d| %>
                <% if d.current_sign_in_at.to_i > d.last_sign_out_at.to_i %>
                    <li><a href="/users/<%= d.id %>"><%= d.username %></a>, <%= d.birthday %>, <%= d.city %>  </li>
                <% end%>

            <% end %>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul>
            <% User.order(id: :asc).limit(5).where(genre: 'homme').each do |d| %>
                <% if d.current_sign_in_at.to_i > d.last_sign_out_at.to_i %>
                    <li><a href="/users/<%= d.id %>"><%= d.username %></a>, <%= d.birthday %>, <%= d.city %>  </li>
                <% end%>
            <% end %>
          </ul>

        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-default" style="margin-top: -15px;margin-bottom: 3px;">
      <div class="panel-body">
          <p>Le prophète bien-aimé à dit  :
            <b style="color: red;">"Et prenez garde au mensonge car le mensonge mène à la perversion et la perversion mène en enfer..."</b>
            hadith rapporté par al boukhari et mouslim.</p>
      </div>
    </div>
  </div>






</div>









