<nav class="navbar navbar-default ">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Bimahram</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">




      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li><%= link_to("Mon compte", edit_user_registration_path) %></li>
            <li><%= link_to("Se déconnecter", destroy_user_session_path, :method =>  :delete) %></li>

        <% else %>
            <li><a href="<%= new_user_registration_path %>">Créer un compte</a></li>
            <li><a href="<%= new_user_session_path %>">Se connecter</a></li>

        <% end %>


      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>