<!DOCTYPE html>
<html>
  <head>
    <title>Bimahram</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% flash.each do |key, value| %>

      <div style="width: 25%" class="fade in alert alert-<%= key %>">
        <a href="#" data-dismiss="alert" class="close close-sm">×</a>
        <ul>
          <li>
            <strong><%= value %></strong>
          </li>
        </ul>
      </div>
  <% end %>


    <div class="container">
      <row>

          <%= yield %>

      </row>

    </div>
  <%= render 'layouts/footer' %>

  </body>
</html>
