<!DOCTYPE html>
<html>
  <head>
    <title>Bimahram</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body" style="background-image: url(https://res.cloudinary.com/bimahram-herokuapp-com/image/upload/v1491766711/logo_fond_mahram_rbu2xr.jpg);">


<div class="wrapper" style="margin-top: -20px">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <%= render 'layouts/navbar' %>
      <% flash.each do |key, value| %>

          <div style="width: 25%" class="fade in alert alert-<%= key %>">
            <a href="#" data-dismiss="alert" class="close close-sm">×</a>
            <ul>
              <li>
                <strong><%= value %></strong>
              </li>
            </ul>
          </div>
      <% end %>

      <row>

        <%= yield %>

      </row>


    </div>



  </div>
  <%= render 'layouts/footer' %>

</div>


  </body>
</html>
